{% extends 'base.html'%}

{% block head %}
{% endblock %}


{% block body %}


<form >
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="ajdi">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <button type="button" id="aduser" name="subaj">Add user</button>
    <button type="button" id="clearbtn" name="obrisi">Clear</button>
</form>
<form ><button type="button" id="subbutton" name="subaj">Show all users</button>
</form>

<!-- <p id="parahraf"></p> -->
<div>
  <table id="customers">
  <thead>
    <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th></th></tr>
  </thead>
    <tbody>
      <!-- <tr></tr> -->
    </tbody>
</table>
</div>



{% endblock %}
