{% extends 'base.html'%}

{% block head %}
{% endblock %}


{% block body %}
<form >
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value={{ data.name }}><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value={{ data.surname}}><br>
    <label for="ajdi">Email:</label><br>
    <input type="text" id="email" name="email" value={{ data.email }} disabled><br>
    <button type="button" id="edituser" name="editujga">Save</button>
</form>
{% endblock %}
