/* Bordered form */
form {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #f1f1f1;
    text-align:center;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: initial;
    box-sizing: border-box;
    margin: auto;
    width: 20%;
    min-width: 300px;
    border: 3px solid rgb(42, 56, 42);
    padding: 10px;
  }
div {
    margin: auto;
    text-align:center;
    max-width: 600px;
}
.delete{
  background-color: #f44336;
}
  /* Set a style for all buttons */
  button {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 20%;
    min-width: 300px; */
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }